@import "@app/colors";
@import "@app/mixins";

.app-sidebar {
	&__container {
		background: linear-gradient(to left, $purple, $red);
		min-width: 220px;
		max-width: 220px;
		height: 100vh;
		position: fixed;
		z-index: 900;
		overflow-y: auto;
		height: 100%;
		left: 0;
		top: 0;
	}
	&__list {
		display: flex;
		flex-direction: column;
		margin-top: 58px;
		padding-left: 0;
	}
	&__list-item {
		color: $white;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
	&__link {
		text-decoration: none;
		display: block;
		padding: 1rem;
		color: $white;
	}
	&__active {
		color: $black;
		background: $white;
	}
}

.app-topbar {
	margin-bottom: 100px;
	&__container {
		box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
			0 1px 18px 0 rgb(0 0 0 / 12%);
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background: linear-gradient(to left, $purple, $red);
		position: fixed;
		display: block;
		padding: 0.7rem;
		width: 100%;
	}
	&__brand {
		font-size: 1.5rem;
		text-decoration: none;
		white-space: nowrap;
		color: $white;
		font-weight: 700;
		margin-left: 8px;
		vertical-align: 8px;
	}
}
.bi-justify {
	color: $white;
	cursor: pointer;
}
